{% extends 'base.html' %}

{% block content %}
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        {% for item in news_list %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                {% if item.image %}
                                <a href="{{ item.get_absolute_url }}"><img style="height:295px; width:600px;" src="{{ item.image.url }}" alt=""></a>
                            {% endif %}
                            </div>
                            <div class="post-data">
                                
                                <a href="{{ item.get_absolute_url }}" class="post-title">
                                    <h3>{{ item.title }}</h3>
                                </a>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_kit_size_25 a2a_default_style">
                                <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_whatsapp"></a>
                                </div>
                                <div class="post-meta">
                                    <p class="post-author">By {{ item.author }}</p>
                                    <p class="post-excerp">{{ item.description|linebreaks|truncatewords:150 }}</p>
                                    <!-- Post Like & Post Comment -->
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    {% if news_list.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-50">
                            {% if news_list.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ news_list.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="page-item disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in news_list.paginator.page_range %}
                                {% if news_list.number == i%}
                                    <li class="page-item"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if news_list.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ news_list.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled">&raquo;</li>
                            {% endif %}
                        </ul>
                  
                    </nav>
                        {% endif %}
                                
                            

                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Latest Posts Widget -->
                        <div class="latest-posts-widget mb-50">
                            {% for item in queryset3 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:news' %}" class="post-catagory">न्यूज़</a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                    <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                    </div>
                                        <p class="post-date">{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {% for item in queryset4 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:politics' %}" class="post-catagory">राजनीति </a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in queryset5 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absloute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:movie' %}" class="post-catagory">मनोरंजन </a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absloute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                        
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for item in queryset6 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absloute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:sports' %}" class="post-catagory">खेल</a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absloute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                    
                                        <p>{{ item.title }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in queryset7 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absloute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:election' %}" class="post-catagory">चुनाव 2019</a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absloute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>       
                                        <p>{{ item.title }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in queryset8 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:business' %}" class="post-catagory">व्यापार</a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                    
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>ताज़ा ख़बरें </h3>

                            {% for item in queryset0|slice:"-1:-6:-1" %}
                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="{{ item.get_absolute_url }}">
                                    <h6><span></span><span></span>{{ item.title }}</h6>
                                </a>
                                                   
                                <p>{{ item.date }}</p>
                            </div>
    
                            {% endfor %}
                            </div>

                          

                       


                        <!-- Latest Comments Widget -->
                        <!-- <div class="latest-comments-widget">
                            <h3>Latest Comments</h3> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/29.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/30.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/31.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/32.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

{% endblock %}
