{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                     {% block detail %}

                     {% endblock %}
                        <!-- About Author -->
                      

                        <!-- <div class="pager d-flex align-items-center justify-content-between">
                            <div class="prev">
                                <a href="#" class="active"><i class="fa fa-angle-left"></i> previous</a>
                            </div>
                            <div class="next">
                                <a href="#">Next <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div> -->

                        <div class="section-heading">
                            <h6>Recommend for you</h6>
                        </div>

                        <div class="row">
                            {% for item in queryset5|slice:"-1:-5:-1"%}
                            <!-- Single Post -->
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3 mb-80">
                                    <div class="post-thumb">
                                        <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_25 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                             
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                     
                        </div>
                       </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Latest Posts Widget -->
                        <div class="latest-posts-widget mb-50">
                            {% for item in queryset3 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:news' %}" class="post-catagory">न्यूज़ </a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                                                                            
                                        <p class="post-date">{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {% for item in queryset4 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:politics' %}" class="post-catagory">राजनीति </a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                                                    
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in queryset5 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:politics' %}" class="post-catagory">मनोरंजन</a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                                                    
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for item in queryset6 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:politics' %}" class="post-catagory">खेल </a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                                                    
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in queryset7 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:politics' %}" class="post-catagory">चुनाव2019</a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                                                    
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for item in queryset8 %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'home:business' %}" class="post-catagory">व्यापार </a>
                                    <div class="post-meta">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>                                                                    
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <!-- Popular News Widget -->
                        <!-- <div class="popular-news-widget mb-50">
                            <h3>4 Most Popular News</h3> -->

                            <!-- Single Popular Blog -->
                            <!-- <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>1.</span> Amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div> -->

                            <!-- Single Popular Blog -->
                            <!-- <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>2.</span> Consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div> -->

                            <!-- Single Popular Blog -->
                            <!-- <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>3.</span> Adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div> -->

                            <!-- Single Popular Blog -->
                            <!-- <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>4.</span> Eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div> -->
                        <!-- </div> -->

                        <!-- Newsletter Widget -->
                        <!-- <div class="newsletter-widget mb-50">
                            <h4>Newsletter</h4>
                            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <form action="#" method="post">
                                <input type="text" name="text" placeholder="Name">
                                <input type="email" name="email" placeholder="Email">
                                <button type="submit" class="btn w-100">Subscribe</button>
                            </form>
                        </div> -->

                        <!-- Latest Comments Widget -->
                        <!-- <div class="latest-comments-widget">
                            <h3>Latest Comments</h3> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/29.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/30.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/31.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div> -->

                            <!-- Single Comments -->
                            <!-- <div class="single-comments d-flex">
                                <div class="comments-thumbnail mr-15">
                                    <img src="img/bg-img/32.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                    <p>06:34 am, April 14, 2018</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
{% endblock %}