    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

        <!-- ##### Hero Area Start ##### -->
        <div class="hero-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-area d-flex align-items-center">
                            <div class="news-title">
                                <p>ताज़ा ख़बरें </p>
                            </div>
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    {% for item in queryset1|slice:"-1:-4:-1" %}
                                    {% if item.featured == True %}
                                    <li><a href="#">{{ item.title }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
    
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-area d-flex align-items-center mt-15">
                            <div class="news-title title2">
                                <p>बड़ी ख़बरें </p>
                            </div>
                            <div id="internationalTicker" class="ticker">
                                <ul>
                                        {% for item in queryset0|slice:"-1:-4:-1" %}
                                        {% if item.featured == True %}
                                        <li><a href="#">{{ item.title }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <!-- Hero Add -->
                    <div class="col-12 col-lg-4">
                        <div class="hero-add">
                            <a href="#"><img src="{% static 'img/bg-img/hero-add.gif' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Hero Area End ##### -->
    
        <!-- ##### Featured Post Area Start ##### -->
        <div class="featured-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="row">
                            {% for item in queryset|slice:"-1:" %}
                            <!-- Single Featured Post -->
                            <div class="col-12 col-lg-7">
                                <div class="single-blog-post featured-post">
                                    <div class="post-thumb">
                                        <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                        <div class="post-meta">
                                            <p class="post-author">By {{ item.author }}</p>
                                            <p class="post-excerp">{{ item.description }}</p>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span>{{ item.date }}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-12 col-lg-5">
                                <!-- Single Featured Post -->
                                {% for item in queryset|slice:"-2:-1"%}
                                <div class="single-blog-post featured-post-2">
                                    <div class="post-thumb">
                                        <a href="#"><img src="{{ item.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-catagory">Finance</a>
                                        <div class="post-meta">
                                            <a href="#" class="post-title">
                                                <h6>{{ item.title }}</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span>{{ item.date }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
    
                                <!-- Single Featured Post -->
                                {% for item in queryset|slice:":-2"%}
                                <div class="single-blog-post featured-post-2">
                                    <div class="post-thumb">
                                        <a href="#"><img src="{{ item.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-catagory">Finance</a>
                                        <div class="post-meta">
                                            <a href="#" class="post-title">
                                                <h6>{{ item.title }}</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span>{{ item.date }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/19.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Finance</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                                    </a>
                                    <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/20.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Politics</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Sed a elit euismod augue semper congue sit amet ac sapien.</h6>
                                    </a>
                                    <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/21.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Health</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                                    </a>
                                    <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/22.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Finance</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Augue semper congue sit amet ac sapien. Fusce consequat.</h6>
                                    </a>
                                    <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/23.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Travel</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                                    </a>
                                    <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/24.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Politics</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Augue semper congue sit amet ac sapien. Fusce consequat.</h6>
                                    </a>
                                    <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Featured Post Area End ##### -->
    
        <!-- ##### Popular News Area Start ##### -->
        <div class="popular-news-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="section-heading">
                            <h6>बड़ी ख़बरें </h6>
                            <!-- popular news -->
                        </div>
    
                        <div class="row">
    
                            <!-- Single Post -->
                            {% for item in queryset1|slice:"-1:-5:-1" %}
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        <a href="#"><img src="{{ item.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-catagory">Finance</a>
                                        <a href="#" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>7:00 AM</span> | <span>April 14</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                          
                        </div>
                    </div>
    
                    <div class="col-12 col-lg-4">
                        <div class="section-heading">
                            <!-- recent news -->
                            <h6>ताज़ा ख़बरें</h6>
                        </div>
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-30">
                            
                            {% for item in queryset0|slice:"-1:-6:-1" %}
                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span></span><span></span>{{ item.title }}</h6>
                                </a>
                                <p>{{ item.date }}</p>
                            </div>
    
                            {% endfor %}
                         
                        </div>
    
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Popular News Area End ##### -->
    
        <!-- ##### Video Post Area Start ##### -->
        <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container">
                <div class="row justify-content-center">

                    <!-- Single Video Post -->
                    {% for item in queryset2|slice:"-1:-3:-1" %}
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="single-video-post">
                            <img src="{% static 'img/bg-img/video1.jpg' %}" alt="">
                            <!-- Video Button -->
                            <div class="videobtn">
                                    <iframe class="videoPlayer" width="450px" height="300px" src="{{ item.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><i class="fa fa-play" aria-hidden="true"></i></iframe>
                                <!-- <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
    
       
                </div>
            </div>
        </div>
        <!-- ##### Video Post Area End ##### -->
    
        <!-- ##### Editorial Post Area Start ##### -->
        <div class="editors-pick-post-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <!-- Editors Pick -->
                    <div class="col-12 col-md-7 col-lg-9">
                        <div class="section-heading">
                            <h6>Recommend for you</h6>
                        </div>
    
                        <div class="row">
                            {% for item in queryset1|slice:"-1:-10:-1" %}
                                {% if item.featured == True %}
                            <!-- Single Post -->
                            <div class="col-12 col-lg-4">
                                <div class="single-blog-post">
                                    <div class="post-thumb">
                                        <a href="#"><img src="{{ item.image.url }}" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                            {% endfor %}
   
                        </div>
                    </div>
    
                    <!-- World News -->
                    <div class="col-12 col-md-5 col-lg-3">
                        <div class="section-heading">
                            <h6>World News</h6>
                        </div>
    
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/7.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Orci varius natoque penatibus et magnis</h6>
                                </a>
                                <div class="post-meta">
                                    <div class="post-date"><a href="#">February 11, 2018</a></div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/8.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Orci varius natoque penatibus et magnis</h6>
                                </a>
                                <div class="post-meta">
                                    <div class="post-date"><a href="#">February 11, 2018</a></div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/9.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Orci varius natoque penatibus et magnis</h6>
                                </a>
                                <div class="post-meta">
                                    <div class="post-date"><a href="#">February 11, 2018</a></div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/10.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Orci varius natoque penatibus et magnis</h6>
                                </a>
                                <div class="post-meta">
                                    <div class="post-date"><a href="#">February 11, 2018</a></div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="#"><img src="img/bg-img/11.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-title">
                                    <h6>Orci varius natoque penatibus et magnis</h6>
                                </a>
                                <div class="post-meta">
                                    <div class="post-date"><a href="#">February 11, 2018</a></div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Editorial Post Area End ##### -->
        {% endblock %}