    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

    
        <!-- ##### Featured Post Area Start ##### -->
        <div class="featured-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="row">
                            {% for item in queryset|slice:"-1:" %}
                            <!-- Single Featured Post -->
                            <div class="col-12 col-lg-7">
                                <div class="single-blog-post featured-post">
                                    <div class="post-thumb">
                                        {% if item.image %}
                                        <a href="{{ item.get_absolute_url }}"><img style="height:272px; width: 343px;" src="{{ item.image.url }}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="post-data">
                                        
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h3>{{ item.title }}</h3>
                                        </a>
                                       <!-- AddToAny BEGIN -->
                                        <div class="a2a_kit a2a_kit_size_25 a2a_default_style">
                                            <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                            <a class="a2a_button_facebook"></a>
                                            <a class="a2a_button_twitter"></a>
                                            <a class="a2a_button_whatsapp"></a>
                                            <a class="a2a_button_youtube" data-a2a-follow="The lokswar"></a>
                                            <a class="a2a_button_youtube_channel" data-a2a-follow="The lokswar"></a>
                                            </div>

                                
            
                                        <div class="post-meta">
                                            <p class="post-author">By {{ item.author }}</p>
                                            <p class="post-excerp">{{ item.description|linebreaks|truncatewords:180 }}</p>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span>{{ item.date }}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-12 col-lg-5">
                                <!-- Single Featured Post -->
                                {% for item in queryset|slice:"-2:-5:-1"%}
                                <div class="single-blog-post featured-post-2">
                                    <div class="post-thumb">
                                        {% if item.image %}
                                        <a href="{{ item.get_absolute_url }}"><img style="height:164px;" src="{{ item.image.url }}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="post-data">
                                        <!-- <a href="" class="post-catagory">Finance</a> -->
                                        <div class="post-meta">
                                            <a href="{{ item.get_absolute_url }}" class="post-title">
                                                <h6>{{ item.title }}</h6>
                                            </a>
                                              <!-- AddToAny BEGIN -->
                                        <div class="a2a_kit a2a_kit_size_20 a2a_default_style">
                                            <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                            <a class="a2a_button_facebook"></a>
                                            <a class="a2a_button_twitter"></a>
                                            <a class="a2a_button_whatsapp"></a>
                                            </div>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span>{{ item.date }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
    
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Featured Post -->
                        {% for item in queryset3 %}
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'home:news' %}" class="post-catagory">न्यूज़ </a>
                                <div class="post-meta">
                                    <a href="{{ item.get_absolute_url }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                      <!-- AddToAny BEGIN -->
                                      <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for item in queryset4 %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'home:politics' %}" class="post-catagory">राजनीति </a>
                                <div class="post-meta">
                                    <a href="{{ item.get_absolute_url }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                      <!-- AddToAny BEGIN -->
                                      <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for item in queryset5 %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'home:movie' %}" class="post-catagory">मनोरंजन </a>
                                <div class="post-meta">
                                    <a href="{{ item.get_absolute_url }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                      <!-- AddToAny BEGIN -->
                                      <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for item in queryset6 %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'home:sports' %}" class="post-catagory">खेल </a>
                                <div class="post-meta">
                                    <a href="{{ item.get_absolute_url }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                      <!-- AddToAny BEGIN -->
                                      <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for item in queryset7 %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'home:election' %}" class="post-catagory">चुनाव 2019</a>
                                <div class="post-meta">
                                    <a href="{{ item.get_absolute_url }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                      <!-- AddToAny BEGIN -->
                                      <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for item in queryset8 %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img style="height:90px;" src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'home:business' %}" class="post-catagory">व्यापार </a>
                                <div class="post-meta">
                                    <a href="{{ item.get_absloute_url }}" class="post-title">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                      <!-- AddToAny BEGIN -->
                                      <div class="a2a_kit a2a_kit_size_16 a2a_default_style">
                                        <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        </div>
                                    <p>{{ item.date }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Featured Post Area End ##### -->
    
        <!-- ##### Popular News Area Start ##### -->
        <div class="popular-news-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="section-heading">
                            <h6>बड़ी ख़बरें </h6>
                            <!-- popular news -->
                        </div>
    
                        <div class="row">
    
                            <!-- Single Post -->
                            {% for item in queryset1|slice:"-1:-5:-1" %}
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        {% if item.image %}
                                        <a href="{{ item.get_absolute_url }}"><img style="height:254px;" src="{{ item.image.url }}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="post-data">
                                        <!-- <a href="#" class="post-catagory">Finance</a> -->
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                          <!-- AddToAny BEGIN -->
                                          <div class="a2a_kit a2a_kit_size_20 a2a_default_style">
                                            <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                            <a class="a2a_button_facebook"></a>
                                            <a class="a2a_button_twitter"></a>
                                            <a class="a2a_button_whatsapp"></a>
                                            </div>
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                          
                        </div>
                    </div>
    
                    <div class="col-12 col-lg-4">
                        <div class="section-heading">
                            <!-- recent news -->
                            <h6>ताज़ा ख़बरें</h6>
                        </div>
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-30">
                            
                            {% for item in queryset0|slice:"-1:-6:-1" %}
                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="{{ item.get_absolute_url }}">
                                    <h6><span></span><span></span>{{ item.title }}</h6>
                                </a>
                             
                                <p>{{ item.date }}</p>
                            </div>
    
                            {% endfor %}
                         
                        </div>
    
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Popular News Area End ##### -->
    
        <!-- ##### Video Post Area Start ##### -->
        <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container">
                <div class="row justify-content-center">

                    <!-- Single Video Post -->

                    {% for item in queryset2|slice:"-1:-3:-1" %}
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="single-video-post">

                            <img src="{% static 'img/bg-img/video1.jpg' %}" alt="">
                            <!-- Video Button -->
                            <div class="videobtn">
                                    <iframe class="videoPlayer" width="450px" height="300px" src="{{ item.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><i class="fa fa-play" aria-hidden="true"></i></iframe>
                                <!-- <a href="https://www.youtube.com/watch?v=5BQr-j3BBzU" class="videoPlayer"><i class="fa fa-play" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
    
       
                </div>
            </div>
        </div>
        <!-- ##### Video Post Area End ##### -->
    
        <!-- ##### Editorial Post Area Start ##### -->
        <div class="editors-pick-post-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <!-- Editors Pick -->
                    <div class="col-12 col-md-7 col-lg-9">
                        <div class="section-heading">
                            <h6>Recommend for you</h6>
                        </div>
    
                        <div class="row">
                            {% for item in queryset1|slice:"-1:-10:-1" %}
                                {% if item.featured == True %}
                            <!-- Single Post -->
                            <div class="col-12 col-lg-4">
                                <div class="single-blog-post">
                                    <div class="post-thumb">
                                        {% if item.image %}
                                        <a href="{{ item.get_absolute_url }}"><img style="height:257px;" src="{{ item.image.url }}" alt=""></a>
                                    {% endif %}
                                    </div>
                                    <div class="post-data">
                                        <a href="{{ item.get_absolute_url }}" class="post-title">
                                            <h6>{{ item.title }}</h6>
                                        </a>
                                          <!-- AddToAny BEGIN -->
                                          <div class="a2a_kit a2a_kit_size_20 a2a_default_style">
                                            <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                            <a class="a2a_button_facebook"></a>
                                            <a class="a2a_button_twitter"></a>
                                            <a class="a2a_button_whatsapp"></a>
                                            </div>
                                        <p>{{ item.date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                            {% endfor %}
   
                        </div>
                    </div>
    
                    <!-- World News -->
                    <div class="col-12 col-md-5 col-lg-3">
                        <div class="section-heading">
                            <h6>व्यक्ति विशेष</h6>
                        </div>
    
                
                        {% for item in queryset9|slice:"-1:-6:-1" %}
                        <!-- Single Post -->
                        <div class="single-blog-post style-2">
                            <div class="post-thumb">
                                <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{{ item.get_absolute_url }}" class="post-title">
                                    <h6>{{ item.title }}</h6>
                                </a>
                                  <!-- AddToAny BEGIN -->
                                  <div class="a2a_kit a2a_kit_size_20 a2a_default_style">
                                    <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                    </div>
                                <div class="post-meta">
                                    {{ item.date }}
                                </div>
                            </div>
                        </div>

                        {% endfor %}
    
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Editorial Post Area End ##### -->
        {% endblock %}