{% extends 'detail.html' %}
{% block detail %}
<div class="single-blog-post featured-post single-post">
    <div class="post-thumb">
        <img style="height:295px; width:600px;" src="{{ detail0.image.url }}" alt="">
    </div>
    <div class="post-data">
        
            <h3>{{ detail0.title }}</h3>
        
        <div class="post-meta">
            <p class="post-author">By <a href="#">{{ detail0.author }}</a></p>
            <p>{{ detail0.description }}</p>
            <p>{{ detail0.date }}</p>

            
        </div>
    </div>
</div>
{% endblock %}