{% extends 'detail.html' %}
{% block detail %}
<div class="single-blog-post featured-post single-post">
    <div class="post-thumb">
        <img style="height:295px; width:600px;" src="{{ detail.image.url }}" alt="">
    </div>
    <div class="post-data">
   
            <h3>{{ detail.title }}</h3>
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_25 a2a_default_style">
            <!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_whatsapp"></a>
            </div>           
        <div class="post-meta">
            <p class="post-author">By <a href="#">{{ detail.author }}</a></p>
            <p>{{ detail.description }}</p>
            <p>{{ detail.date }}</p>

            
        </div>
    </div>
</div>
{% endblock %}